.landing-page {
  height: 100vh;
  width: 100%;
  position: relative;
}
.span-name {
  white-space: nowrap;
}

.hi {
  display: flex;
  align-items: flex-end;
  margin-left: 4rem;
  padding-bottom: 6%;
  h1{
    font-size: 80px;
    z-index: 2;
    span {
      transition: all .3s ease;
      display: inline-block;
      &:hover {
        color: #D74050;
        animation: span 1s ease 1 both;
      }
    }
  }
}

.home-page-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  padding-top: 72px;
}

.animate {
  white-space: nowrap;
  perspective-origin: bottom;
  perspective: 100px;
  overflow: hidden;
}

.set-perspective {
  animation: onload 1.5s ease 1 both;
}

@keyframes span {
  0%{transform: rotateX(0deg)}
  50%{transform: rotateX(45deg);}
  75%{transform: rotateX(0deg); transform: rotateY(45deg)}
  82%{transform: rotateY(-45deg)}
  100%{transform: rotate(0deg, 0deg);}
}

@keyframes onload {
  from{transform: translateY(100%)}
  to{transform: translateY(0%)}
}

@media screen and (min-width: 2000px) {
  .hi {
    margin-left: 200px;
  }
}

@media screen and (max-width: 620px) {
  .home-page-content {
    padding-top: 100px;
  }
  .hi {
    margin-left: 0px;
  }
}

@media screen and (max-width: 840px) {
  .hi {
    h1 {
      font-size: 46px;
    }
  }
}
