.landing-page {
  height: 100vh;
  width: 100%;
  position: relative;
}

.hi {
  display: flex;
  align-items: flex-end;
  height: 100%;
  margin-left: 110px;
  h1{
    font-size: 80px;
    padding-bottom: 112px;
  }
}

.eye-svg {
  position: absolute;
  right: 118px;
  top: 114px;
  height: 304px;
  width: 304px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
}

.eye-hole {
  background-color: white;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.svg {
  position: absolute;
  left: -26px;
  top: -10px;
  animation: look-scale 20s ease-in 20s infinite alternate both;
}

.svg-circle {
  animation: look 15s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite alternate both;
}

@keyframes look {
  0% {transform: translate(-28px, 10px)}
  25% {transform: translate(28px, 10px)}
  50% {transform: translate(-28px, -10px)}
  75% {transform: translate(28px, -10px)}
  100% {transform: translate(0px, 0px)}
}

@keyframes look-scale {
  0%{transform: scale(2)}
  24%{transform: scale(2)}
  25%{transform: scale(1)}
  100%{transform: scale(1)}
}

@media screen and (min-width: 2000px) {
  .hi {
    margin-left: 200px;
  }
  .eye-svg {
    right: 320px;
    top: 150px;
  }
}

@media screen and (max-width: 700px) {
  .hi {
    margin-left: 26px;
    h1 {
      font-size: 46px;
      padding-bottom: 76px;
    }
  }
  .eye-svg {
    right: 40px;
    top: 124px;
    height: 242px;
    width: 242px;
  }
}
