.navbar {
  color: white;
  display: flex;
  justify-content: space-around;
  height: 82px;
  align-items: center;
}

.navbar-menu {
  display: flex;
  justify-content: space-between;
  width: 44%;
}
